@font-face {
  font-family: 'JennaSue';
  src: url('../fonts/JennaSue.ttf');
}

body {
  background: #f0f3f6;
}

/*BACKGROUND COLOR*/
.nabi-background-color {
  background-color: #f0f3f6;
}

.nabi-background-white {
  background-color: #fff;
}

/*FONT FAMILY*/
.nabi-font-jennasue {
	font-family: 'JennaSue';
}

.nabi-font-montserrat {
	font-family: 'Montserrat', sans-serif;
}

/*FONT WEIGHT*/
.nabi-text-mediumbold {
	font-weight: 500;
}

.nabi-text-semibold {
	font-weight: 500;
}

.nabi-text-extrabold {
	font-weight: 800;
}

/*TEXT ALIGN*/
.nabi-text-center {
	text-align: center;
}

/****** MARGIN ******/
.nabi-margin-small {
  margin: 20px
}

.nabi-margin-medium {
  margin: 30px
}

.nabi-margin-large {
  margin: 40px
}

.nabi-margin-bottom-large {
  margin-bottom: 40px !important;
}

.nabi-margin-bottom-medium {
  margin-bottom: 30px !important;
}

.nabi-margin-top-small {
  margin-top: 20px !important;
}

.nabi-margin-top-medium {
  margin-top: 30px !important;
}

.nabi-margin-top-large {
  margin-top: 40px !important;
}

/****CUSTOM ELEMENTS****/
/*Container*/
.nabi-container {
  padding-left: 25px;
  padding-right: 25px;
}

/*Section*/
.nabi-section {
  border-radius: 17px;
  padding: 25px;
}

/* iPads (landscape) ----------- */
@media only screen  and (min-width : 768px) {
  /****CUSTOM ELEMENTS****/
  /*Container*/
  .nabi-container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 700px;
  }

  /*Section*/
  .nabi-section {
    padding: 50px 100px;
  }
}

/* Small laptops ----------- */
@media only screen  and (min-width : 1200px) {
  /***** HOME *****/
  .nabi-container {
    width: 990px;
  }
}