@font-face {
	font-family: 'JennaSue';
	src: url('../fonts/JennaSue.ttf');
}

@font-face {
	font-family: 'Montserrat';
	src: url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800');
}

body {
	background: #f0f3f6;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	color: #717a8a !important;
}

header {
	background: white;
}

li {
	list-style: none;
}

a {
  text-decoration: none;
}

input {
  background: transparent;
}

/*Freeleson section*/
.free-lesson-section {
	text-align: center !important;
}
.free-lesson-right-section {
	width: 280px;
	margin: 0 auto;
}

.free-lesson-image {
	height: 55px;
}

.free-lesson-lema {
	font-size: 41px !important;
	transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
}

/*BACKGROUND COLOR*/
.nabi-background-color {
	background-color: #f0f3f6;
}

.nabi-background-white {
	background-color: #fff;
}

.nabi-background-nabi {
	background-color: #06c3e1;
}

/*COLOR*/
.nabi-color-white {
	color: #fff !important;
}

.nabi-color-nabi {
	color: #06c3e1 !important;
}

/*FONT SIZE*/
.nabi-font-medium {
	font-size: 15px !important;
}

.nabi-font-large {
	font-size: 20px !important;
}

/*CURSOR*/
.nabi-cursor-pointer {
	cursor: pointer;
}

/*DISPLAY*/
.nabi-display-block {
  display: block !important;
}

.nabi-display-inline {
	display: inline !important;
}

.nabi-display-inline-block {
	display: inline-block !important;
}

/*FLOAT*/
.nabi-float-right {
	float: right;
}

/*FONT FAMILY*/
.nabi-font-jennasue {
	font-family: 'JennaSue';
}

.nabi-font-montserrat {
	font-family: 'Montserrat', sans-serif;
}

/*FONT WEIGHT*/
.nabi-text-mediumbold {
	font-weight: 500 !important;
}

.nabi-text-semibold {
	font-weight: 600;
}

.nabi-text-extrabold {
	font-weight: 800;
}

/*TEXT ALIGN*/
.nabi-text-center {
	text-align: center;
}

/*MARGIN*/
.nabi-margin-small {
	margin: 20px
}

.nabi-margin-medium {
	margin: 30px
}

.nabi-margin-large {
	margin: 40px
}

.nabi-margin-top-zero {
  margin-top: 0px !important;
}

.nabi-margin-top-xsmall {
	margin-top: 10px !important;
}

.nabi-margin-top-small {
	margin-top: 20px !important;
}

.nabi-margin-top-medium {
	margin-top: 30px !important;
}

.nabi-margin-top-large {
	margin-top: 40px !important;
}

.nabi-margin-top-xlarge {
	margin-top: 60px !important;
}

.nabi-margin-right-xsmall {
	margin-right: 10px !important;
}

.nabi-margin-right-small {
	margin-right: 20px !important;
}

.nabi-margin-right-medium {
	margin-right: 30px !important;
}

.nabi-margin-right-large {
	margin-right: 40px !important;
}

.nabi-margin-bottom-xsmall {
	margin-bottom: 10px !important;
}

.nabi-margin-bottom-small {
	margin-bottom: 20px !important;
}

.nabi-margin-bottom-medium {
	margin-bottom: 30px !important;
}

.nabi-margin-bottom-large {
	margin-bottom: 40px !important;
}

.nabi-margin-bottom-xlarge {
	margin-bottom: 60px !important;
}

.nabi-margin-bottom-zero {
	margin-bottom: 0px !important;
}

.nabi-margin-left-xsmall {
	margin-left: 10px !important;
}

.nabi-margin-left-small {
	margin-left: 20px !important;
}

.nabi-margin-left-medium {
	margin-left: 30px !important;
}

.nabi-margin-left-large {
	margin-left: 40px !important;
}

/*PADDING*/
.nabi-padding-small {
	padding: 20px
}

.nabi-padding-medium {
	padding: 30px
}

.nabi-padding-large {
	padding: 40px
}

.nabi-padding-top-zero {
  padding-top: 0px !important;
}

.nabi-padding-top-xsmall {
	padding-top: 10px !important;
}

.nabi-padding-top-small {
	padding-top: 20px !important;
}

.nabi-padding-top-medium {
	padding-top: 30px !important;
}

.nabi-padding-top-large {
	padding-top: 40px !important;
}

.nabi-padding-right-xsmall {
	padding-right: 10px !important;
}

.nabi-padding-right-small {
	padding-right: 20px !important;
}

.nabi-padding-right-medium {
	padding-right: 30px !important;
}

.nabi-padding-right-large {
	padding-right: 40px !important;
}

.nabi-padding-bottom-zero {
	padding-bottom: 0px !important;
}

.nabi-padding-bottom-xsmall {
	padding-bottom: 10px !important;
}

.nabi-padding-bottom-small {
	padding-bottom: 20px !important;
}

.nabi-padding-bottom-medium {
	padding-bottom: 30px !important;
}

.nabi-padding-bottom-large {
	padding-bottom: 40px !important;
}

.nabi-padding-left-zero {
	padding-left: 0px !important;
}

.nabi-padding-left-xsmall {
	padding-left: 10px !important;
}

.nabi-padding-left-small {
	padding-left: 20px !important;
}

.nabi-padding-left-medium {
	padding-left: 30px !important;
}

.nabi-padding-left-large {
	padding-left: 40px !important;
}
/*Display*/
.display-inline {
	display: inline-block !important;
}
/*POSITION*/
.nabi-position-relative {
	position: relative;
}

/****CUSTOM ELEMENTS****/
/*Container*/
.nabi-container {
	padding-left: 25px;
	padding-right: 25px;
}

/*Section*/
.nabi-section {
	border-radius: 17px;
	padding: 25px 20px;
}

/*Responsive Hide*/
.hide-on-mobile {
	display: none !important;
}

.hide-on-desktop {
	display: block !important;
}

/*Logo anchor*/
#nabi-logo-anchor {
	color: #000;
	display: inherit;
	text-decoration: none;
}

/*Logo logo*/
#nabi-logo {
	display: inherit;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	width: 55px !important;
}

/*Logo text*/
#nabi-logo-text {
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: 4px;
	text-transform: uppercase;
}

/*Header*/
#menu {
	position: absolute;
	top: 11%;
	color: #717a8a !important;
}

.nabi-header-container {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 65px;
	padding-bottom: 5px;
}

.nabi-header-button {
	position: absolute !important;
	top: 9% !important;
	right: 20px !important;
}

.nabi-responsive-button {
	padding: 3px 14px !important;
	font-size: 11px !important;
}

.nabi-header-button .login-button {
	background-color: white !important;
	color: #5a5b5e !important;
}

.header-divider {
	margin: 0px -27px !important;
}

/*Homepage*/
/* Banner */
#banner {
	height: 400px !important;
	width: 100%;
	background-image: url('../images/nabiBannerImage.jpg') !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center;
}

#banner .container {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 55px;
	position: absolute;
}

#banner button {
	margin-top: 10px !important;
	margin-right: 10px !important;
	padding: 15px 11px !important;
	font-size: 11px !important;
}

/* Popular instruments card */
.nabi-popular-instruments {
	position: relative;
  height: 326px;
}

.popular-instrument-card-group {
	width: 100%;
	position: absolute;
	opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
	transition: opacity 1s;
}

.popular-instrument-card {
	background: #fff;
  width: 100% !important;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
	transition: opacity 1s;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)
}

.nabi-showing {
	opacity: 1;
	z-index: 2;
}

/*Page title*/
#nabi-page-title {
	font-size: 18px !important;
	margin: 30px !important;
}

/*JennaSue title*/
.nabi-jennasue-title {
	font-family: 'JennaSue';
	font-size: 42px !important;
}

/*Highlighted text*/
.nabi-highlighted-text {
	background: rgba(6, 195, 225, 0.3);
	border-radius: 3px;
	padding: 4px 6px;
}

/*Date Picker*/
.react-datepicker__input-container {
	border-radius:  5px;
	border: 2px solid #ebeef1 !important;
	margin: 10px 0px 0px;
	padding: 14px 18px;
	background: #f3f6f9;
}

.react-datepicker__input-container input {
	border: none;
	color: #717a8a;
  padding: 0;
	font-size: 14px;
}

.react-datepicker-popper {
	z-index: 11;
}

/*Instruments fields*/
.nabi-instruments-select {
	width: 100%;
}

.nabi-instruments-add {
	margin-top: 15px !important;
}

.request-button{
	width: 100%;
	height: 70px;
	position: relative;
}
.request-button .nabi-send-request{
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position: absolute;
	margin-top: 30px !important;
	right: 0% !important;
}

/*Rates*/
.nabi-rates-field input {
	width: 70px;
}

/*Availability*/
.nabi-grid-background-nabi div div {
	background: #06c3e1 !important;
}

/*Education*/
.graduation-year {
  width: 190px !important;
}

/*Qualifications*/
.qualifications label {
	display: flex;
}

/* iPhones(landscape) ----------- */
@media only screen and (min-width: 375px) {
	/*Rates*/
	.nabi-rates-field {
		display: inline !important;
	}
	.request .nabi-instruments-select {
		margin-left: 0px;
	}
	/*Homepage*/
	#banner .container {
		padding-top: 25px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	#banner button {
		margin-top: 10px !important;
		margin-right: 10px !important;
		padding: 15px 10px !important;
		font-size: 13px !important;
	}
	#nabi-logo {
		display: inherit;
		margin: 0 auto;
		margin-top: 10px;
		text-align: center;
		width: 55px !important;
	}

	#nabi-logo-text {
		font-size: 16px;
	}
	/*HEADER*/
	.nabi-responsive-button {
		padding: 5px 15px !important;
		font-size: 11px !important;
	}
	.nabi-popular-instruments {
		width: 328px;
		margin: 0 auto;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) {
	/****CUSTOM ELEMENTS****/
	/*Container*/
	.nabi-container {
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		width: 700px;
	}
	.nabi-header-container {
		margin: 0 auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		width: 750px;
	}

	#nabi-logo {
		display: inherit;
		margin: 0 auto;
		text-align: center;
		width: 60px !important;
		width: 60px !important;
	}
	#nabi-logo-text {
		font-size: 19px;
	}
	/*Font size*/
	.nabi-font-medium {
		font-size: 19px !important;
	}
	.nabi-font-large {
		font-size: 25px !important;
	}
	/*Section*/
	.nabi-section {
		padding: 50px 80px;
	}
	/*JennaSue title*/
	.nabi-jennasue-title {
		font-size: 60px !important;
	}
	/*Homepage*/
	#banner {
		height: 500px !important;
	}
	#banner button {
		margin-top: 40px !important;
		margin-right: 30px !important;
		padding: 15px 38px !important;
		font-size: 14px !important
  }
	/*header*/
	#menu {
		top: 37% !important;
	}
	.nabi-header-button {
		top: 35% !important;
	}
	.nabi-header-line {
		border: 0px;
	}
	.header-divider {
		display: none;
	}
	.nabi-responsive-button {
		padding: 12px 25px !important;
		font-size: 14px !important;
	}
	/*Rates*/
	.rates {
		width: 247px;
	}
}

/* Tablets small laptops ----------- */
@media (min-width: 960px) {
	/****CUSTOM ELEMENTS****/
	.nabi-container {
		width: 800px;
	}
  /*Responsive Hide*/
	.hide-on-mobile {
		display: block !important;
	}
	.hide-on-desktop {
		display: none !important;
	}
	/*Page Title*/
	#nabi-page-title {
		font-size: 25px !important;
	}
  /*Header*/
  #nabi-logo {
		display: inherit;
		margin: 0 auto;
		text-align: center;
		width: 75px !important;
		width: 75px !important;
	}
	#nabi-logo-text {
		font-size: 22px;
	}
	.nabi-header-container {
		width: 900px;
	}
	.nabi-responsive-button {
		padding: 10px 25px !important;
		font-size: 13px !important;
	}
	/*Instruments text*/
	.nabi-instruments-select {
		width: 38%;
		margin-right: 1% !important;
	}
	/*Instruments add button*/
	.nabi-instruments-add {
		width: 22%;
		margin-top: 0px !important;
  }
  /*Selected Instruments */
	.selected-instruments {
		width: 40%
	}
	/*Availability*/
	.nabi-availability-legend-wrapper {
		width: 50%;
  }
  /*Education*/
  .nabi-education,
  .selected-education {
    width: 600px !important;
	}
	/*Popular instruments*/
	.nabi-popular-instruments {
    width: 100%;
    margin: 0 auto;
	}
	/*Freeleson section*/
	.free-lesson-section {
		text-align: left !important;
	}
	.free-lesson-left-section {
    width: 60%;
  }
  .free-lesson-right-section {
    position: absolute;
    right: 0%;
    top: 5%;
    margin-left: 20px;
    width: 250px;
	}
	.free-lesson-image {
	margin-left: 20px;
	}
	
	/*REQUEST INSTRUCTOR FORM*/
    .request .typography {
	display: inline-block;
    }
    .request .nabi-instruments-select {
	margin-left: 40px;
    }
    .request .skill-level{
	margin-left: 92px;
    }
    .request .instrument{
	margin-left: 78px;
    }
}

/* Laptops ----------- */
@media only screen and (min-width: 1200px) {
	/***** HOME *****/
	.nabi-container {
		width: 990px;
	}
	/*Header*/
	.nabi-header-container {
		width: 1150px;
	}
}
