@font-face {
  font-family: 'JennaSue';
  src: url('../fonts/JennaSue.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat:200');
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:200');

body {
  background: #f0f3f6;
  margin: 0px;
}

header {
  background: white;
  padding: 12px;
}

li {
  list-style: none;
}

/*HOME PAGE*/
#banner{
  position: relative;
  color:#f0f3f6;
}
#banner img {

  width: 100%;
  height: 100%;
}
#banner .container {

  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top:45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)

}

#banner h1{
width: 500px !important;
font-size: 32px !important;
}

#banner p{
  width: 500px;
  font-weight: 300 !important;
  font-size: 20px !important;
}

#banner button{
  margin-top: 40px !important;
  margin-right: 30px !important;
  padding: 15px 38px !important;
}

/*BACKGROUND COLOR*/
.nabi-background-color {
  background-color: #f0f3f6;
}

.nabi-background-white {
  background-color: #fff;
}

.nabi-background-white {
  background-color: #fff;
}

/*DISPLAY*/
.nabi-display-inline {
  display: inline !important;
}

.nabi-display-inline-block {
  display: inline-block !important;
}
/*FONT SIZE*/

.nabi-font-size-large {
font-size: 32px;
}

.nabi-font-size-medium {
  font-size: 20px;
}

.nabi-font-size-small {
  font-size: 20px;
}
/*FONT FAMILY*/
.nabi-font-jennasue {
	font-family: 'JennaSue';
}

.nabi-font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
/*FONT COLOR*/
.nabi-white-color{
color: #f0f3f6;
}

/*FONT WEIGHT*/
.nabi-text-mediumbold {
  font-weight: 200 !important;
}

.nabi-text-semibold {
	font-weight: 400;
}

.nabi-text-extrabold {
	font-weight: 800;
}

/*TEXT ALIGN*/
.nabi-text-center {
	text-align: center;
}

/*MARGIN*/
.nabi-margin-small {
  margin: 20px
}

.nabi-margin-medium {
  margin: 30px
}

.nabi-margin-large {
  margin: 40px
}

.nabi-margin-top-xsmall {
  margin-top: 10px !important;
}

.nabi-margin-top-small {
  margin-top: 20px !important;
}

.nabi-margin-top-medium {
  margin-top: 30px !important;
}

.nabi-margin-top-large {
  margin-top: 40px !important;
}

.nabi-margin-right-xsmall {
  margin-right: 10px !important;
}

.nabi-margin-right-small {
  margin-right: 20px !important;
}

.nabi-margin-right-medium {
  margin-right: 30px !important;
}

.nabi-margin-right-large {
  margin-right: 40px !important;
}

.nabi-margin-bottom-xsmall {
    margin-bottom: 10px !important;
}

.nabi-margin-bottom-small {
  margin-bottom: 20px !important;
}

.nabi-margin-bottom-medium {
  margin-bottom: 30px !important;
}

.nabi-margin-bottom-large {
  margin-bottom: 40px !important;
}

.nabi-margin-left-xsmall {
  margin-left: 10px !important;
}

.nabi-margin-left-small {
  margin-left: 20px !important;
}

.nabi-margin-left-medium {
  margin-left: 30px !important;
}

.nabi-margin-left-large {
  margin-left: 40px !important;
}

/****CUSTOM ELEMENTS****/
/*Container*/
.nabi-container {
  padding-left: 25px;
  padding-right: 25px;
}

/*Section*/
.nabi-section {
  border-radius: 17px;
  padding: 25px 20px;
}

/*Responsive Hide*/
.hide-on-mobile {
	display: none !important;
}

.hide-on-desktop {
	display: block !important;
}

/*Logo anchor*/
#nabi-logo-anchor {
  color: #000;
  display: inherit;
  text-decoration: none;
}

/*Logo logo*/
#nabi-logo {
  display: inherit;
  margin: 0 auto;
  text-align: center;
  width: 75px;
  width: 75px;
}

/*Logo text*/
#nabi-logo-text {
  font-size: 22px;
  margin-top: 4px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

/*Page title*/
#nabi-page-title {
  font-size: 25px !important;
  margin: 30px !important;
}

/*Highlighted text*/
.nabi-highlighted-text {
  background: rgba(6,195,225, 0.3);
  border-radius: 3px;
  padding: 4px 6px;
}

/*Instruments fields*/
.nabi-instruments-select {
  width: 100%;
}

.nabi-instruments-add {
  margin-top: 15px !important;
}

/*Rates*/
.nabi-rates-field input {
  width: 70px;
} 

/* iPhones(landscape) ----------- */
@media only screen  and (min-width : 375px) {
  /*Rates*/
  .nabi-rates-field {
    display: inline !important;
  }
  
  #banner h1{
    width: 350px !important;
    font-size: 25px !important;
  }
  #banner p{
    font-size: 15px !important;
    width: 250px;
    font-weight: 250 !important;
  }
  #banner button{
    margin-top: 10px !important;
    margin-right: 10px !important;
    padding: 15px 20px !important;
    font-size: 10px !important;
  }
}

/* iPads (landscape) ----------- */
@media only screen  and (min-width : 768px) {
  /****CUSTOM ELEMENTS****/
  /*Container*/
  .nabi-container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 700px;
  }

  /*Section*/
  .nabi-section {
    padding: 50px 80px;
  }

  #banner h1{
    width: 500px !important;
    font-size: 32px !important;
    }
    
    #banner p{
      width: 500px !important;
      font-weight: 300;
      font-size: 20px !important;
    }
    #banner button{
      margin-top: 40px !important;
      margin-right: 30px !important;
      padding: 15px 38px !important;
      font-size: 14px !important;
      
    
    }



}

/* Tablets small laptops ----------- */

@media (min-width: 960px) { 
   /****CUSTOM ELEMENTS****/

   #banner{

    height: 600px;
    overflow: hidden;
   }
   #banner img{
     height: auto;
     margin-top: -120px
   }
  .nabi-container {
    width: 800px;
  }
   /*Responsive Hide*/
	.hide-on-mobile {
		display: block !important;
	}
	.hide-on-desktop {
		display: none !important;
  }

  /*Instruments text*/
  .nabi-instruments-select {
    width: 38%;
    margin-right: 1% !important;
  }

  /*Instruments add button*/
  .nabi-instruments-add {
    width: 22%;
    margin-top: 0px !important;
  }

  /*Selected Instruments */
  .selected-instruments {
    width: 40%
  }

  /*Rates*/
  .rates {
    width: 40%
  }
}



/* Laptops ----------- */
@media only screen  and (min-width : 1200px) {
  /***** HOME *****/
  .nabi-container {
    width: 990px;
  }
}